* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 800px;
  height:800px;
  border:1px solid black;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.ricerca {
  width:100%;
  display: flex;
  align-items:center;
  flex-direction: column;
  overflow: auto;
}
input {
  width:340px;
  height:40px;
  font-size: 30px;
  margin-bottom: 10px;
}
button {
  width:200px;
  height:40px;
  font-size: 30px;
  border-radius: 5px;
  background-color: red;
  color:white;
  font-family: sans-serif;
}
.filmcontainer {
  width:70%;
  height:80%;
  border:1px solid black;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
.filminfo {
  border:1px solid black;
  width:50%;
  height: auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto;
}
